body {
  padding-top: 10px;
  text-align: center;
  background-color: #f0f0f0;
}

.container {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.search_button {
  height: 30px;
  width: 100px;
  outline: none;
}
