@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

body {
  padding-top: 10px;
  text-align: center;
  background-color: #332e2e;
  font-family: 'Roboto';

}
.container {
  background-color: #b3b3b3;
  border-radius : 8px;
}
h1 {
  color : #960c13;
}
.search_button {
  background-color: white;
  border-radius: 8px;
  color: #960c13;
  text-shadow: 1px 1px 2px #b3b3b3;
  width: 10px;
}
.container {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.search_button {
  height: 30px;
  width: 100px;
  outline: none;
}
